.button{
    padding: 10px 20px;
    margin: 20px;
}

h1{
    padding: 10px 20px;
    margin: 20px;
    background-color: gainsboro;
    width: fit-content;
    font-size: 100px;
    border-radius: 30px;
}

