html,
body{
    height: 100%;
    width: 100%;
}
body {
     background-color: #111;
}

.parent {
     padding: 20px;
     display: flex;
     flex-wrap: wrap;

}
.card{
    width: 200px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}
.card p{
    margin: 20px ; 
}]
.card button {
    padding: 10px 2opx;
    background-color: white;
    color:black;
    border: none;
    border-radius: 5px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}